---
import Layout404 from "../layout/Layout404.astro";
---

<Layout404>
    <div class="w-screen h-screen center-content">
        <p class="text-6xl font-semibold">Error 404</p>
    </div>
</Layout404>