---
import Layout from "../layout/Layout.astro";
import ViaLactea from "../components/ViaLactea.astro";
import SectionOne from "./home/SectionOne.astro";
import SectionTwo from "./home/SectionTwo.astro";
import SectionThree from "./home/SectionThree.astro";
import SectionFour from "./home/SectionFour.astro";
import SectionFive from "./home/SectionFive.astro";
---

<Layout>
    <div class="py-[50px] relative">
        <!-- Background -->
        <div class="opacity-70 flex justify-center absolute-center-x top-0 pt-[50px]">
            <ViaLactea />
        </div>

        <div class="z-10 relative">
            <SectionOne />          
            
            <div class="max-w-4xl mx-auto">
                <SectionTwo />

                <SectionThree />

                <!-- <SectionFour /> => my skill temp -->

                <SectionFive />
            </div>
        </div>
    </div>
</Layout>
