<footer>
    <div class="pt-[100px] pb-[50px] size-screen">
        <div class="max-w-4xl mx-auto">
            <div class="text-sm text-white/40 row justify-between">
                <p>
                    © 2024 AMG-dev. Almost all rights reserved
                </p>

                <div class="row gap-2">
                    <a href="https://github.com/Mazagonzalez" class="hover:underline hover:text-white">Github</a>
                    <a href="https://www.linkedin.com/in/carlos-arturo-maza-gonzalez-254b70249/" class="hover:underline hover:text-white">LinkedIn</a>
                    <a href="mailto:mazagonzalez61@gmail.com" class="hover:underline hover:text-white">Mazagonzalez61@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>