<footer>
    <div class="pt-[30px] lg:pt-[100px] pb-[50px] size-screen">
        <div class="max-w-4xl mx-auto pt-[20px] border-t border-white/50 lg:border-t-0">
            <div class="text-sm text-white/40 flex flex-col-reverse gap-2 lg:gap-0 lg:flex-row lg:justify-between items-center">
                <p>
                    © 2024 AMG-dev. Almost all rights reserved
                </p>

                <div class="flex flex-col lg:flex-row gap-px lg:gap-2 text-center lg:text-start">
                    <a href="https://github.com/Mazagonzalez" class="hover:underline hover:text-white">Github</a>
                    <a href="https://www.linkedin.com/in/carlos-arturo-maza-gonzalez-254b70249/" class="hover:underline hover:text-white">LinkedIn</a>
                    <a href="mailto:mazagonzalez61@gmail.com" class="hover:underline hover:text-white">Mazagonzalez61@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>