@media(min-width: 768px){
    /* Anchura y color del scrollbar */
    .scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    /* Maneja el scrollbar del track */
    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 999px;
    }

    /* Maneja el scrollbar del agarrador */
    .scrollbar::-webkit-scrollbar-thumb {
        background: #696969;
        border-radius: 999px;
    }
}